'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'mark'
      'submenu': [
        { 'label': 'Toggle', 'command': 'mark:toggle' },
        { 'label': 'Select To Mark', 'command': 'mark:select-to-mark' },
        { 'label': 'Clear', 'command': 'mark:clear' },
        { 'label': 'Go to Mark', 'command': 'mark:go-to-mark' },
        { 'label': 'Swap With Mark', 'command': 'mark:swap' }
      ]
    ]
  }
]
